@charset "UTF-8";
/* 초기화 */
#container{clear: both; width: 100%;}
.container_wrap{clear: both; width: 100%;}
.main_wrap{
    clear: both;
    width: 1400px;
    margin: 0 auto;
    margin-top: 2%;
}
/* /초기화 */
/* 왼쪽 메뉴 */
#left_gnb{
    float: left;
    width: 13%;
    /* min-width: 180px; */
}
#left_gnb>ul>.gnb_menu>a{
    display: block;
    font-size: 16px;
    padding: 15px 10px 15px 16px;
    background-color: #222;
    color: #e2e2e2;
}
#left_gnb>ul>.gnb_menu>a:first-child{
    border-top: 1px solid #515151;
}
#left_gnb>ul>.gnb_menu>ul>.gnb_sub_menu>a{
    display: block;
    border-bottom: 1px solid #515151;
    border-left: 1px solid #515151;
    border-right: 1px solid #515151;
    font-size: 14px;
    padding: 15px 10px 15px 16px;
    background-color: #ffffff;
    color: #222;
}
#left_gnb>ul>.gnb_menu>ul>.gnb_sub_menu:hover a{
    background-color: #dbdbdb;
    color: #222;
}
/* /왼쪽 메뉴 */
/* 오른쪽 컨텐츠 초기화 */
.page{
    float: left;
    width: 85%;
    margin-left: 2%;
}
.page_content{
    position: relative;
    clear: both;
    width: 100%;
}
/* /오른쪽 컨텐츠 초기화 */
/* 검색 */
.search_box{
    clear: both;
    display: block;
    margin-bottom: 1%;
}
.search_box>form>select{
    padding: 8px 0 8px 0;
    text-align: center;
    width: 100px;
    border-color: #222;
    font-size: 14px;
}
.search_box>form>input{
    padding: 9px 0 8px 0;
    border: 1px solid #222;
    font-size: 14px;
}
.search_box>form>button{
    padding: 7px 0 8px 0;
    width: 70px;
    font-size: 14px;
}
/* /검색 */
/* 페이지 공통 - 리스트 테이블 */
.table {
    display: table;
    width: 100%;
    border-collapse: collapse;
}
.table tr{
    display: table-row;
}
.table tr th, .table tr td{
    display: table-cell;
    padding: 12px 0 12px 0;
}
.table tr th{
    border-top: 2px solid #000;
    border-bottom: 1px solid #777;
    background-color: #ededed;
    text-align: center;
}
.table tr td{
    border-bottom: 1px solid #777;
    text-align: center;
}
/* /페이지 공통 - 리스트 테이블 */