<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mpper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.myshop.BasketMapper">

 
	<!-- 장바구니 조회 -->
	<select id="BasketList" resultType="com.myshop.dto.BasketDTO" >
		select a.*,b.pname ,b.psubname ,b.price ,b.s_img_desc,b.seq as 'pseq'  from basket a 
		inner join v_product b
		on (a.pcode = b.pcode)
		where cus_seq = #{cus_seq}
	</select>
	
	<!-- 장바구니 추가(신규) -->
	<insert id="BasketAdd">
		insert into basket(cus_seq, pcode, qty, regdate)
		values(#{cus_seq}, #{pcode}, #{qty}, now())				
	</insert>
	
	<!-- 장바구니 추가(업데이트) -->
	<update id="BasketEdit">
		update basket set
		qty = qty+1, regdate = now()
		where cus_seq = #{cus_seq} and pcode = #{pcode}				
	</update>
	
	<!-- 장바구니체크 -->
	<select id="BasketCK" resultType="int">
		select count(*) from basket
		where cus_seq = #{cus_seq} and pcode = #{pcode}
	</select>
	
	<!-- 장바구니 삭제 -->
	<delete id="BasketDel">
		delete from basket
		where cus_seq = #{cus_seq} and pcode = #{pcode}
	</delete>
	
	
	


	

	

</mapper>
