<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mpper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.myshop.CustomerMapper">

	<!-- 상품리스트 -->
	<select id="ProductList" resultType="com.myshop.dto.ProductDTO">
		select a.*,b.name as 'state_val' from product a
		inner join codemaster b
		on(a.state = b.value and b.code='ps') order by seq desc
	</select>
	
	<!-- 상품상세 -->
	<select id="ProductMore" resultType="com.myshop.dto.ProductDTO">
		select a.*,b.name as 'state_val' from product a
		inner join codemaster b
		on(a.state = b.value and b.code='ps') where a.seq=#{seq}
	</select>


	

</mapper>
